/*------------------------
	Header css
--------------------------*/
.responsive {
	display: none;
}
.container-fluid{
	width: 95%;
	max-width: 1440px;
	margin: 0 auto;
}

.header-section {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: white;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.header-section .logo {
	display: block;
	float: left;
	padding-top: 22px;
}

.header-section .logo img {
	height: 48px;
	width: auto;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.header-section .menu-list {
	list-style: none;
	float: right;
}

.header-section .menu-list li {
	display: inline;
}

.header-section .menu-list li a {
	display: inline-block;
	padding: 35px 15px;
	margin-right: 15px;
	color: #222;
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 0.09em;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.header-section .menu-list li a:hover,
.header-section .menu-list li a.active {
	color: $primaryGrey;
}

.header-section .menu-list li:last-child a {
	margin-right: 0;
}

.header-section .menu-list li.active a {
	color: $primaryColor;
}

.header-section .menu-list .current a:after {
	width: 10px;
	margin-left: -5px;
}

/*------------------------
	Footer section
--------------------------*/
.footer-section {
	background: $primaryBlack;
	padding: 120px 0 48px 0;
	.footer-about{
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		.logo{
			display: block;
			flex-shrink: 1;
			padding: 8px 0;
			img {
				height: 24px;
				width: auto;
				-webkit-transition: all 0.4s ease 0s;
				-o-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
				}
			}
		.blurb{
			flex: 1 1 85%;
			h3{
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			line-height: 20px;
			padding-right: 16px;
			font-weight: 400;
			max-width: 320px;
			color: $primaryGrey;
			}
			

		}
	}
	.menu-list{
		list-style: none;
		display: flex;
		padding: 18px 0;
		justify-content: center;
		li{
			flex-shrink: 1;
			display: inline;
			margin-left: 8px;
			a{
				display: inline-block;
				padding: 8px 4px;
				margin-left: 8px;
				color: $primaryGrey;
				position: relative;
				font-family: "Roboto", sans-serif;
				font-weight: 500;
				font-size: 16px;
				letter-spacing: 0.09em;
				-webkit-transition: all 0.4s ease 0s;
				-o-transition: all 0.4s ease 0s;
				transition: all 0.4s ease 0s;
			}
		}
	}
	.footer-copyright{
		margin: 64px auto;
		text-align: center;
		font-size: 14px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		color: $primaryDarkGrey;
	}
	@media screen and (min-width: 768px) and (max-width: 991px){
		.site-btn{
			padding: 10px 30px;
		}
		.menu-list{
			justify-content: flex-end;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1280px){
		.site-btn{
			padding: 10px 30px;
		}
	}
	@media screen and (max-width: 768px){
		.footer-about{
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		.menu-list{
			margin: 32px auto;
			flex-direction: column;
			align-items: center;
		}
		
	}
}

/*------------------------
	Page Top Section
--------------------------*/
.page-top-section {
	position: relative;
	height: 405px;
	background: $primaryBlack;
}

.page-top-section .container-fluid {
	position: relative;
	z-index: 5;
}

.page-top-section .page-info {
	display: inline-block;
	padding-top: 200px;
}

.page-top-section .page-info h2 {
	color: #fff;
	font-weight: 400;
	margin-bottom: 15px;
}

.page-top-section .page-info .page-links a,
.page-top-section .page-info .page-links span {
	font-size: 18px;
	font-family: "Oswald", sans-serif;
	color: #fff;
	margin-right: 12px;
	padding-right: 12px;
	font-weight: 400;
	position: relative;
}

.page-top-section .page-info .page-links a:after,
.page-top-section .page-info .page-links span:after {
	position: absolute;
	content: "|";
	right: -3px;
}

.page-top-section .page-info .page-links span {
	margin-right: 0;
	padding-right: 0;
	color: $primaryColor;
}

.page-top-section .page-info .page-links span:after {
	display: none;
}

/*------------------------
	Newsletter Section
--------------------------*/
.newsletter-section {
	background: $primaryColor;
}

.newsletter-section h2 {
	font-size: 48px;
	color: #fff;
	font-weight: 400;
}

/* Newsletter form */
.nl-form {
	display: flex;
	padding: 6px 0;
	.site-btn{
		font-weight: 400;
		line-height: 30px;
		max-width: 400px;
	}
}

.nl-form input[type="text"] {
	border: none;
	padding: 15px 30px;
	flex-grow: 1;
	background: #ffffff;
	color: $primaryDarkGrey;
}

.nl-form input[type="text"]:focus,
.nl-form input[type="text"]:hover {
	outline: none;
}

.nl-form ::-webkit-input-placeholder {
	color: $primaryDarkGrey;
}

.nl-form :-ms-input-placeholder {
	color: $primaryDarkGrey;
}

.nl-form ::-ms-input-placeholder {
	color: $primaryDarkGrey;
}

.nl-form ::placeholder {
	color: $primaryDarkGrey;
}

.nl-form :-ms-input-placeholder {
	color: $primaryDarkGrey;
}

.nl-form ::-ms-input-placeholder {
	color: $primaryDarkGrey;
}

