/*------------------------
	Hero section
--------------------------*/
.hero-section {
	height: 100%;
	position: relative;
}

.hero-content {
	width: 90%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	text-align: left;
	z-index: 5;
	.hero-center {
		align-self: center;
	}
	h1, h2{
		text-align: left;
		color: #0b1033;
		margin-bottom: 0;
		margin-top: 2vw;
	}
	h1 {
		font-size: 64px;
		font-weight: 700;
		span{
			color: $primaryColor;
		}
	}
	h2{
		font-size: 36px;
		font-weight: 400;	
	}
	.site-btn{
		margin-top: 48px;
	}
}

.owl-carousel .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	display: inline-block;
	height: 50px;
	width: 100px;
	background: $primaryBlack;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	font-size: 20px;
	cursor: pointer;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
	background: $primaryColor;
}

.owl-carousel .owl-nav .owl-next {
	float: right;
}

.owl-carousel #bar {
	width: 0%;
	max-width: 100%;
	height: 4px;
	background: $primaryColor;
}

.owl-carousel #progressBar {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1;
}


/*------------------------
	About section
--------------------------*/
.about-section,
.team-section,.services-digital-section {
	background: $primaryBlack;
	position: relative;
	z-index: 2;
} //includes some common styles also

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 3;
	background-image: url("../img/overlay.png");
	background-repeat: no-repeat;
	background-size: cover;
}

/*Card Section*/
.card-section {
	position: relative;
	padding-bottom: 100px;
	z-index: 5;
}

.lab-card {
	position: relative;
	margin-top: -50px;
	padding: 50px 25px;
	text-align: center;
	background: #f5faf8;
	-webkit-box-shadow: 0 0 8px rgba(74, 74, 74, 0.1);
	        box-shadow: 0 0 8px rgba(74, 74, 74, 0.1);
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.lab-card .icon {
	margin-bottom: 30px;
	font-size: 70px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.lab-card h2 {
	text-transform: uppercase;
	font-size: 18px;
	color: #2b1640;
	margin-bottom: 30px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.lab-card p {
	color: #6c6e7e;
	line-height: 30px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}

.lab-card:hover {
	background: $primaryColor;
}

.lab-card:hover h2,
.lab-card:hover p,
.lab-card:hover .icon {
	color: #fff;
}

/* About contant */
.about-contant {
	position: relative;
	z-index: 5;
}

.about-contant p {
	color: #fff;
}

.intro-video {
	-webkit-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	        transform: translateY(50%);
	margin-top: -90px;
}

.intro-video img {
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);
	        box-shadow: 0 0 50px rgba(0, 0, 0, 0.35);
}

.intro-video a {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	color: #ffffff;
	background: $primaryColor;
	border-radius: 50%;
	text-align: center;
	padding-top: 20px;
	padding-left: 5px;
}


/*------------------------
  Testimonial section
--------------------------*/
.testimonial-section {
	padding-top: 320px;
	background: #220c3b;
	position: relative;
}

.test-overlay {
	position: absolute;
	background-image: url("../img/test-man.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
	bottom: 0;
	height: 78%;
	left: 50px;
}

.testimonial span {
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: 48px;
	color: $primaryBlack;
}

.testimonial p {
	font-style: italic;
	color: #fff;
	font-weight: 400;
	line-height: 36px;
}

.testimonial .avatar {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}

.testimonial .client-info {
	margin-top: 40px;
}

.testimonial .client-name {
	float: left;
	padding-top: 20px;
}

.testimonial .client-name h2 {
	font-size: 18px;
	color: #fff;
	font-weight: 400;
}

.testimonial .client-name p {
	font-style: normal;
	font-size: 12px;
	color: #969696;
}

/* Testimonial carousel */
#testimonial-slide {
	position: relative;
}

#testimonial-slide .owl-dots {
	position: absolute;
	width: 8px;
	top: 100px;
}

#testimonial-slide .owl-dots .owl-dot {
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 15px;
	display: block;
	margin-bottom: 15px;
	position: relative;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

#testimonial-slide .owl-dots .owl-dot:after {
	position: absolute;
	content: "";
	width: 28px;
	height: 28px;
	border: 2px solid $primaryBlack;
	border-radius: 40px;
	left: -10px;
	top: -10px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

#testimonial-slide .owl-dots .owl-dot.active {
	background: #6a23b5;
	margin-bottom: 25px;
	margin-top: 25px;
}

#testimonial-slide .owl-dots .owl-dot.active:after {
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

#testimonial-slide .owl-dots .owl-dot:first-child.active {
	margin-top: 15px;
}


/*----------------------------------
	header and icon box element
------------------------------------*/
//Styles apply also on Services page
 .services-section{
 	padding-top: 320px;
}
.service {
	margin-bottom: 90px;
}

.service,
.icon-box {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.service .icon,
.icon-box .icon {
	font-size: 40px;
	margin-right: 30px;
}

.service .service-text h2,
.service .icon-box-text h2,
.icon-box .service-text h2,
.icon-box .icon-box-text h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight: 400;
}

.service .service-text p,
.service .icon-box-text p,
.icon-box .service-text p,
.icon-box .icon-box-text p {
	font-size: 15px;
}

.service.light h2,
.service.light p,
.service.light .icon,
.icon-box.light h2,
.icon-box.light p,
.icon-box.light .icon {
	color: #fff;
}

.service.left,
.icon-box.left {
	text-align: right;
}

.service.left .icon,
.icon-box.left .icon {
	margin-left: 30px;
	margin-right: 0;
}


/*------------------------
	Team section
--------------------------*/
.team-section .container {
	position: relative;
	z-index: 5;
}

.member {
	text-align: center;
}

.member img {
	margin-bottom: 60px;
}

.member h2 {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 20px;
	color: #fff;
}

.member h3 {
	font-size: 14px;
	color: $primaryColor;
	font-weight: 400;
	text-transform: uppercase;
}


/*------------------------
	Promotion section
--------------------------*/
.promotion-section {
	background: $primaryColor;
	padding: 115px 0;
}

.promotion-section h2 {
	font-weight: 400;
	color: #fff;
	font-size: 48px;
	margin-bottom: 18px;
}

.promotion-section p {
	color: #fff;
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 300;
}

.promotion-section .promo-btn-area {
	text-align: right;
	padding-top: 15px;
}


/*------------------------
	Contact section
--------------------------*/
.contact-section {
	position: relative;
}

.contact-section:after {
	position: absolute;
	content: "";
	width: 50%;
	height: 100%;
	left: 0px;
	top: 0;
	background: $primaryBlack;
	z-index: -1;
}

.form-class input[type="text"] {
	width: 100%;
	margin-bottom: 26px;
	border: none;
	background: $primaryGrey;
	padding: 17px 20px;
}

.form-class input[type="text"]:focus,
.form-class input[type="text"]:hover {
	outline: none;
}

.form-class textarea {
	width: 100%;
	margin-bottom: 40px;
	border: none;
	background: $primaryGrey;
	padding: 15px 20px;
	height: 260px;
}

.form-class textarea:focus,
.form-class textarea:hover {
	outline: none;
}

// .form-class ::-webkit-input-placeholder {
// 	font-style: italic;
// }

// .form-class :-ms-input-placeholder {
// 	font-style: italic;
// }

// .form-class ::-ms-input-placeholder {
// 	font-style: italic;
// }

// .form-class ::placeholder {
// 	font-style: italic;
// }

// .form-class :-ms-input-placeholder {
// 	font-style: italic;
// }

// .form-class ::-ms-input-placeholder {
// 	font-style: italic;
// }

/* Contact Info*/
.contact-info .section-title {
	margin-bottom: 40px;
}

.contact-info p {
	color: #fff;
}

.contact-info h3 {
	font-weight: 400;
	color: $primaryColor;
	margin-bottom: 20px;
}

.contact-info .con-item {
	font-size: 14px;
}

